{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Displaying recipes -->
    
        <div class="col-12 col-md-6 my-5">
                
        <div class="">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Share a recipe:</h3>
                <p>If you have any cookbooks with amazing recipes for children we would love to hear from you. Fill out the information below and share with others!!</p>
                <p>Posting as: {{ user.username }}</p>
                <form id="shareForm" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                    {{ share_a_book_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to share a recipe</p>
                {% endif %}
            </div>
        </div>
            <h3>Sharing is caring:</h3>
            <div class="card-body">

                <!-- We want a for loop inside the empty control tags -->
        {% for share in shared %}
        <div
                    class="p-2 shared{% if not share.approved and share.author == user %} faded{% elif not share.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ share.author }}
                        <span class="font-weight-normal">
                            {{ share.created_on }}
                        </span> wrote:
                    </p>
                    <div id="share{{ share.id }}">
                        
                        {{ share.title | linebreaks }}
                        {{ share.picture | linebreaks }}
                    </div>
                    {% if not share.approved and share.author == user %}
                    <p class="approval">This recipe is awaiting approval</p>
                    {% endif %}
                        {% if user.is_authenticated and share.author == user %}
                        <button class="btn btn-delete" data-share_id="{{ share.id }}">Delete</button>
                        <button class="btn btn-edit"
                        data-share_id="{{ share.id }}">Edit</button>
                        {% endif %}
         </div>

                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
    
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete recipe?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your recipe? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/share.js' %}"></script>
{% endblock %}